.screem {
    display: flex;
    border: solid red;
    height: 100vh; /* Ajusta la altura de la pantalla */
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    background-color: black;
    color: white;
  }
  
  .left-col {
    width: 50%;
    height: 50vh;
    border: solid green;
    overflow: hidden; /* Oculta el scroll en el lado izquierdo */
  }
  
  .right-col {
    flex: 1;
    overflow-y: auto; /* Agrega scroll solo al lado derecho */
    border: solid yellow;
    height: 50vh;
  }
  
  .right-content {
    max-height: 50vh; /* Ajusta la altura máxima del contenido derecho */
  }
  